.conteiner{
    position: relative;
    height: 900px;
    background:linear-gradient( rgb(15, 85, 235), rgb(46, 134, 192));
    background-size: cover;
    overflow:hidden;
    
}

#oval {
    position: absolute;
    top:40%;
    left: 15%;
	width: 1200px;
	height: 400px;
	background: rgb(17, 168, 42);
	-moz-border-radius: 70% / 50%;
	-webkit-border-radius: 70% / 50%;
	border-radius: 70% / 70%;
}
#circle {
    position: absolute;
    right: -50px;
    top: -50px;
	width: 300px;
	height: 300px;
	background: #ffee00;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

#square {
    position: absolute;
    left: 40%;
    top:50%;
	width: 200px;
	height: 200px;
	background: red;
}

#triangle-up {
    position: absolute;
    top: -100px;
	width: 0px;
	height: 0px;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-bottom: 100px solid rgb(12, 12, 12);
}
#circle-window{
    position: absolute;
    bottom: -75px;
    left: -15px;
	width: 30px;
	height: 30px;
	background: #080808;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
    border: 1px solid white;
}
#chimney{
    position: absolute;
    left: -60px;
    width: 30px;
    height: 60px;
    background: rgb(2, 2, 2);
}

#square-door{
    position: absolute;
    top:100px;
    left: 10%;
    width: 60px;
    height: 100px;
    background: rgb(2, 2, 2);
    border: 1px solid white;
}

#circle-handle{
    position: absolute;
    bottom: 50%;
    right: 5px;
	width: 10px;
	height: 10px;
	background: #080808;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
    border: 1px solid white;
}

#square-window{
    position: absolute;
    top:30%;
    right: 10%;
    width: 60px;
    height: 60px;
    background: rgb(2, 2, 2);
    border: 1px solid white;
}

#square-grating{
    position: absolute;
    top:0%;
    right: 0%;
    width: 30px;
    height: 30px;
    background: rgb(2, 2, 2);
    border-bottom: 1px solid white;
    border-left: 1px solid white;
}

#square-grating-bottom{
    position: absolute;
    bottom:0%;
    right: 0%;
    width: 30px;
    height: 30px;
    background: rgb(2, 2, 2);
    border-top: 1px solid white;
    border-left: 1px solid white;
}