.header{
font-family: "Open Sans";
font-style: normal;
font-weight: 600;
background-color: #000;
width: 1510px;
height: 75px;
left: 0px;
top: 0px;
position: absolute;
}
.header__logo__img{
position: absolute;
width: 183.1px;
height: 74.85px;
left: 115.28px;
top: 0px;
}
.header__list{
list-style-type: none;
}
.header__list__item1{
width: 113.8px;
height: 75px;
font-size: 14px;
line-height: 19px;
display: flex;
align-items: center;
text-transform: capitalize;
position: absolute;
left: 50.99%;
right: 41.47%;
top: 0.02%;
bottom: 98.63%;
}
.header__list__link{
text-decoration:none;
color: #FFFFFF;
}
.header__list__item2{
width: 113.8px;
height: 75px;
font-size: 14px;
line-height: 19px;
display: flex;
text-transform: capitalize;
position: absolute;
left: 58.53%;
right: 33.93%;
top: 0.02%;
bottom: 98.63%;
align-items: center;
}
.header__list__item3{
    width: 114.81px;
    height: 75px;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    text-transform: capitalize;
    position: absolute;
    left: 66.07%;
    right: 26.33%;
    top: 0.02%;
    bottom: 98.63%;
    align-items: center;
}
.header__list__item4{
    width: 113.8px;
    height: 75px;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    text-transform: capitalize;
    position: absolute;
    left: 73.67%;
    right: 18.79%;
    top: 0.02%;
    bottom: 98.63%;
    align-items: center;
}
.header__list__item5{
    width: 113.8px;
    height: 75px;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    text-transform: capitalize;
    position: absolute;
    left: 81.21%;
    right: 11.26%;
    top: 0.02%;
    bottom: 98.63%;
    align-items: center;
}
.main{
background-image: url(./images/baner.svg);
width :1510px;
height :951px;
left: 0px;
top: 75px;
position: absolute;
}
.baner{
background: rgba(0, 0, 0, 0.5);
width :1510px;
height :951px;
left: 0px;
top: 0px;
position: absolute;
}
.main__img{
position: absolute;
width: 270px;
height: 100px;
left: 170px;
top: 283px;
}
.main__title{
    position: absolute;
    left: 170px;
    right: 670px;
    top: 433.88px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.main__text{
width :270px;
height :42px;
font-family: 'Raleway';
position: absolute;
left: 170px;
right: 70.86%;
top: 699px;
color: #FFFFFF;
}
.main__button{
outline: 3px solid white ; 
text-decoration:none;
color: #FFFFFF;
position: absolute;
left: 170px;
right: px;
top: 783px;
font-family: "Open Sans";
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 25px;
display: flex;
padding: 1rem 6rem;
align-items: center;
text-transform: capitalize;
}
.media{
    position: absolute;
    width: 1510px;
    height: 140px;
    left: 0px;
    top: 1026px;
    background-color: #F8EFEF;
}