/* .box{
    display: grid;;
    grid-template-columns: 300px 300px 300px;
    gap: 1em;
}

.item{
    background-color: brown;
    min-height: 150px;
} */

.conteiner{
    margin: 0 auto;
    width: 1511px;


}

.list{
    display: grid;
    grid-template-columns: 378px 378px 378px 378px;
}