.baner{
    background-color: blueviolet;
    height: 100px;
    margin-bottom: 20px;
}

.conteiner{
    width: 950px;
    margin: 15px auto;
}
.col{
    height: 300px;
    width: 300px;
    margin: 20px;
}